%%%%%%%%%%%%%%%%%
% This is an sample CV template created using altacv.cls
% (v1.7, 9 Aug 2023) written by LianTze Lim (liantze@gmail.com), based on the
% CV created by BusinessInsider at http://www.businessinsider.my/a-sample-resume-for-marissa-mayer-2016-7/?r=US&IR=T
%
%% It may be distributed and/or modified under the
%% conditions of the LaTeX Project Public License, either version 1.3
%% of this license or (at your option) any later version.
%% The latest version of this license is in
%%    http://www.latex-project.org/lppl.txt
%% and version 1.3 or later is part of all distributions of LaTeX
%% version 2003/12/01 or later.
%%%%%%%%%%%%%%%%


%% Use the "normalphoto" option if you want a normal photo instead of cropped to a circle
% \documentclass[10pt,a4paper,normalphoto]{altacv}

\documentclass[10pt,a4paper,ragged2e,withhyper]{altacv}
%% AltaCV uses the fontawesome5 package.
%% See http://texdoc.net/pkg/fontawesome5 for full list of symbols.

% Change the page layout if you need to
\geometry{left=1.25cm,right=1.25cm,top=1.5cm,bottom=1.5cm,columnsep=0.5cm}

% The paracol package lets you typeset columns of text in parallel
\usepackage{paracol}


% Change the font if you want to, depending on whether
% you're using pdflatex or xelatex/lualatex
% WHEN COMPILING WITH XELATEX PLEASE USE
% xelatex -shell-escape -output-driver="xdvipdfmx -z 0" mmayer.tex
\ifxetexorluatex
  % If using xelatex or lualatex:
  \setmainfont{Lato}
\else
  % If using pdflatex:
  \usepackage[default]{lato}
\fi

% Change the colours if you want to
\definecolor{VividPurple}{HTML}{19273C}
\definecolor{SlateGrey}{HTML}{2E2E2E}
\definecolor{LightGrey}{HTML}{666666}
% \colorlet{name}{black}
% \colorlet{tagline}{PastelRed}
\colorlet{heading}{VividPurple}
\colorlet{headingrule}{VividPurple}
% \colorlet{subheading}{PastelRed}
\colorlet{accent}{VividPurple}
\colorlet{emphasis}{SlateGrey}
\colorlet{body}{LightGrey}

% Uncomment to change the name font
% \renewcommand{\namefont}{\Huge\bfseries}

% Uncomment to change the tagline font
% \renewcommand{\taglinefont}{\large\bfseries}

% Uncomment to change the personal info font
% \renewcommand{\personalinfofont}{\footnotesize}

% Uncomment to change the section heading font
% \renewcommand{\cvsectionfont}{\Large\bfseries}

% Uncomment to change the subsection heading font
% \renewcommand{\cvsubsectionfont}{\large\bfseries}

% Uncomment to change the itemize bullet style
\renewcommand{\cvItemMarker}{{\small\textbullet}}
\renewcommand{\cvRatingMarker}{\faCircle}

\begin{document}

\name{ << personal.name | escape_latex >> }
\tagline{ << personal.tagline | escape_latex >> }
<%% if personal.photo %%>
\photoR{2.5cm}{<< personal.photo >>}
<%% endif %%>
\personalinfo{
  % Not all of these are required!
  % You can add your own with \printinfo{symbol}{detail}
  \email{ << personal.email | escape_latex >> }
  \phone{ << personal.phone | escape_latex >> }
  \location{ << personal.location | escape_latex >> }
  \linkedin{ << personal.linkedin | escape_latex >> }
  % \github{github.com/username}
  % \orcid{0000-0000-0000-0000}
  %% You can add your own arbitrary detail with
  %% \printinfo{symbol}{detail}[optional hyperlink prefix]
  % \printinfo{\faPaw}{Hey ho!}
  %% Or you can declare your own field with
  %% \NewInfoFiled{fieldname}{symbol}[optional hyperlink prefix] and use it:
  % \NewInfoField{gitlab}{\faGitlab}[https://gitlab.com/]
  % \gitlab{your_id}
  %%
  %% For services and platforms like Mastodon where there isn't a
  %% straightforward relation between the user ID/nickname and the hyperlink,
  %% you can use \printinfo directly e.g.
  % \printinfo{\faMastodon}{@username@instace}[https://instance.url/@username]
  %% But if you absolutely want to create new dedicated info fields for
  %% such platforms, then use \NewInfoField* with a star:
  % \NewInfoField*{mastodon}{\faMastodon}
  %% then you can use \mastodon, with TWO arguments where the 2nd argument is
  %% the full hyperlink.
  % \mastodon{@username@instance}{https://instance.url/@username}
}

\makecvheader

%% Depending on your tastes, you may want to make fonts of itemize environments slightly smaller
\AtBeginEnvironment{itemize}{\small}

%% Set the left/right column width ratio to 6:4.
\columnratio{0.6}

% Start a 2-column paracol. Both the left and right columns will automatically
% break across pages if things get too long.
\begin{paracol}{2}

\cvsection{Expériences}
<%% for job in experience %%>
\cvevent{ << job.position | escape_latex >> }{ << job.company | escape_latex >> }{ << job.period | escape_latex >> }{ << job.location | escape_latex >> }
\begin{itemize}
    <%% for detail in job.details %%>
    \item << detail | escape_latex >>
    <%% endfor %%>
\end{itemize}
<%% if not loop.last %%>\divider<%% endif %%>
<%% endfor %%>

\switchcolumn

\cvsection{Formation}
<%% for edu in education %%>
\cvevent{ << edu.degree | escape_latex >> }{ << edu.institution | escape_latex >> }{ << edu.period | escape_latex >> }{}
<%% if edu.details %%>
\begin{itemize}
    <%% for detail in edu.details %%>
    \item << detail | escape_latex >>
    <%% endfor %%>
\end{itemize}
<%% endif %%>
<%% if not loop.last %%>\divider<%% endif %%>
<%% endfor %%>

\cvsection{Compétences}
\begin{itemize}
<%% for skill in skills %%>
\item \textbf{<< skill.category | escape_latex >>}: << skill['items'] | join(', ') | escape_latex >>
<%% endfor %%>

\end{itemize}

\cvsection{Langues}
\begin{itemize}
<%% for lang in languages %%>
    \item \textbf{<< lang.name | escape_latex >>}: << lang.level | escape_latex >>
<%% endfor %%>

\end{itemize}

\end{paracol}

\end{document}

%%% Local Variables:
%%% mode: latex
%%% TeX-master: t
%%% End:
